script#display-template(type='text/template')
    table(style='width: 178px')
        tbody
            tr
                td(align='right',style='border: 1px solid black; padding: 10px;') 
                    h3!= '<%= value%>'
                
