script#keyboard-template(type='text/template')
    table
        tbody 
            tr
                td
                    button(type='button',class='buttons',data-type='operation',data-value='C',style='width: 172px') Clear
    table
        tbody
            tr
                td
                    button(type='button',class='buttons',data-type='number',data-value='7',style='width: 40px') 7
                td
                    button(type='button',class='buttons',data-type='number',data-value='8',style='width: 40px') 8
                td
                    button(type='button',class='buttons',data-type='number',data-value='9',style='width: 40px') 9
                td
                    button(type='button',class='buttons',data-type='operation',data-value='/',style='width: 40px') /
            tr 
                td
                    button(type='button',class='buttons',data-type='number',data-value='4',style='width: 40px') 4
                td
                    button(type='button',class='buttons',data-type='number',data-value='5',style='width: 40px') 5
                td
                    button(type='button',class='buttons',data-type='number',data-value='6',style='width: 40px') 6
                td
                    button(type='button',class='buttons',data-type='operation',data-value='*',style='width: 40px') *
            tr 
                td
                    button(type='button',class='buttons',data-type='number',data-value='1',style='width: 40px') 1
                td
                    button(type='button',class='buttons',data-type='number',data-value='2',style='width: 40px') 2
                td
                    button(type='button',class='buttons',data-type='number',data-value='3',style='width: 40px') 3
                td
                    button(type='button',class='buttons',data-type='operation',data-value='-',style='width: 40px') -
            tr 
                td
                    button(type='button',class='buttons',data-type='number',data-value='0',style='width: 40px') 0
                td
                    button(type='button',class='buttons',data-type='operation',data-value='.',style='width: 40px') .
                td
                    button(type='button',class='buttons',data-type='operation',data-value='=',style='width: 40px') =
                td
                    button(type='button',class='buttons',data-type='operation',data-value='+',style='width: 40px') +
